@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
  /* background-color: rgb(210, 210, 210); */
}

:root {
    --gray-color: #7a899e;
    --dark-blue-color: #243e63;
    --main-purple-color: #6314ff;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

a {
  display: inline;
  text-decoration: none;
}

li {
    list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.highlighted {
  color: #6415ff;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 500px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: all 300ms;
}

.btn:hover {
  background-color: rgba(80, 17, 204);
}

section {
    padding: 0 32px;
}

/* Navbar */
nav {
    display: flex;
    padding: 24px 32px 0 32px;
    justify-content: space-between;
}


.nav__logo--container {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--text {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__Links--container {
    display: flex;
    justify-content: center;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    margin: 0 24px;
    letter-spacing: 0.35px;
}

.nav__link--login {
    margin: 0 24px 0 48px;
}

    /* burger menu */
.btn__menu {
  background-color: transparent;
  border: none;
  display: none;
  transition: all 300ms ease;
}
.btn__menu i:hover{
   color: black;
}
.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 380px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}
.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}
.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}
.menu__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}
.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}



/* Hero */

.hero {
    display: flex;
}

.hero__landing--info {
    width: 40%;
}

.hero__para {
    margin: 32px 0;
}

.hero__call-to-action {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero__CTA--email {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.hero__CTA--submit {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    width: 160px;
    font-weight: 700px;
    font-size: 16px;
}

.hero__CTA--email:hover {
    border-color: #7a899e;
}

.hero__CTA--email:focus {
    outline: none;
    border-color: var(--main-purple-color);
}

.hero__subheading--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.hero__subheading--img {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.hero__img--wrapper {
    width: calc(100% - 40%);
}

.hero__img {
    width: 100%;
    max-width: 768px;
}

/* FEATURES SECTION */

.row__center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
}

.feature__card {
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__card--img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e3e7eb;
    border-radius: 500px;
}

.feature__card--img {
    width: 24px;
    height: 24px;
}

.feature__card--info {
    margin: 8px 0 0 16px;
}

.feature__card--para {
    margin-top: 12px;
    line-height: 2;
}

/* quality work */

#quality {
    padding: 0 32px;
}

.quality__container {
    display: flex;
}

.quality__info, .quality__img--container {
    width: 50%;
}

.quality__info {
    max-width: 576px;
    margin-right: 64px;
}

#quality .section__title{
    line-height: 1.25;
}

#quality .btn {
    margin-top: 32px;
}

.quality__img--container {
    display: flex;
    align-items: center;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

.quality__img {
    z-index: 1;
}

.dotted {
    position: absolute;
    /* inset: 0; */
    right: -45px;
    bottom: -45px;
    z-index: -1;
    height: 110px;
    width: 110px;
    background-image: radial-gradient(var(--main-purple-color) 3px, transparent 3px);
    background-size: 16px 16px;
}

/* STEPS SECTION */

.steps__container {
    display: flex;
}

.steps__img--container, .steps__info {
    width: 50%;
}

.steps__img--container {
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 90%;
    position: relative;
}

.dotted2 {
    position: absolute;
    /* inset: 0; */
    right: 39%;
    bottom: -40px;
    z-index: -1;
    height: 110px;
    width: 110px;
    background-image: radial-gradient(#ede3ff 1px, transparent 1px);
    background-size: 6px 6px;
}

.steps__info {
    padding: 0 80px 0 64px;
}

.steps__card {
    display: flex;
    margin-top: 32px;
}

.steps__card--num h1 {
    padding-right: 24px;
    color: #cbd5e0;
}

.steps__card--para {
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
    font-weight: 500;
    line-height: 2;
}

/* values */
.values__container {
    display: flex;
}

.values__info--container, .values__img--wrapper {
    width: 50%;
}

.values__info--container {
    padding: 32px 64px 32px 0;
}

.values__points--container {
    display: flex;
}

.values__point {
    margin: 32px 32px 0 0;
}

.values__point--bar {
    display: flex;
    align-items: center;
}

.values__point--icon-container {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.affordable__icon {
    background-color: #9ae6b4;
}

.fa-dollar-sign {
    color: #276648;
}

.professionalism__icon {
    background-color: #ffb3b3;
}

.fa-suitcase {
    color: #9b2c2c;
}

.values__point--heading {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
}

.values__point--para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

.values__info--container .btn {
    margin-top: 48px;
}

.values__img--wrapper {
    display: flex;
    align-items: center;
}

/*

pricing

*/

.pricing__container {
    display: flex;
    flex-direction: column;
}

.pricing__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__para {
    max-width: 450px;
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-evenly;
    padding: 64px 0;
}

.plan {
    width: calc(100%/3.5);
    max-width: 350px;
    min-width: 270px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 10%);
    margin: 0 24px;
}

.plan__pricing--info {
    margin-top: 8px;
    background-color: #fff;
    padding: 24px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.plan__pricing--info h1 {
    font-size: 40px;
    font-weight: 800;
    padding: 12px 0;
}

.plan__pricing--p {
    color: #9cabbe;
    font-weight: 700;
}



.plan__info {
    padding: 24px 0;
    background-color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.plan__info h3 {
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
}

.plan__ul {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__ul li {
    padding: 12px 0;
}

.plan__btn--container {
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan__btn {
    width: 50%;
    height: 50%;
    font-size: 16px;
    font-weight: 600;
}

        /* this is the different color for the plans */

.plan__personal {
    background: #39B2AD;
    background: linear-gradient(145deg, rgba(57, 178, 173, 1) 0%, rgba(159, 237, 228, 1) 100%);
}

.green__btn {
    background: #39B2AD;
    background: linear-gradient(145deg,rgba(57, 178, 173, 1) 0%, rgba(187, 242, 236, 1) 100%);
}

.plan__business {
    background: #4E53C2;
    background: linear-gradient(145deg, rgba(78, 83, 194, 1) 0%, rgba(144, 157, 222, 1) 100%);
}

.plan__business .plan__pricing--info h1, 
.plan__business .plan__pricing--info h3,
.plan__business .plan__info h3,
.plan__business .plan__info li {
    color: white;
}

.white__btn {
    background-color: white;
}

.gradient__text {
    background-image: linear-gradient(145deg,rgba(78, 83, 194, 1) 0%, rgba(106, 114, 206, 1) 13%, rgba(120, 130, 212, 1) 29%, rgba(144, 157, 222, 1) 82%);
    color: transparent;
    background-clip: text;
}

.transparent {
    background-color: transparent;
    color: #fff; 
}

.white__font {
    color: #fff;
}

.plan__enterprise {
    background: #F56C6C;
    background: linear-gradient(145deg, rgba(245, 108, 108, 1) 0%, rgba(255, 191, 191, 1) 100%);
}

.salmon__btn {
    background: #F56C6C;
    background: linear-gradient(145deg, rgba(245, 108, 108, 1) 0%, rgba(255, 191, 191, 1) 100%);
}

/* TESTIMONIALS */

.testimonials__container {
    display: flex;
}

.testimonial__img--wrapper {
    width: 40%;
}

.testimonials__info--container{
    width: calc(100% - 40%);
}

.testimonial__img--wrapper {
    display: flex;
    align-items: center;
}

.testimonials__info--container {
    padding-left: 64px;
}

.testimonial__rating {
    margin-top: 40px;
}

.testimonial__rating  i{
    color: #f6ad55;
}

.testimonial__review--title {
    margin-top: 16px;
}

.testimonial__review--para {
    margin: 16px 0 32px 0;
}

.testimonial__review--user--bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__img--title {
    display: flex;
    align-items: center;
}

.testimonial__review--img--wrapper {
    width: 80px;
    display: flex;
}

.testimonial__review--img {
    border-radius: 50%;
}

.testimonial__name--title {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.testimonial__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    margin: 0 10px;
}

.testimonial__btn i {
    color: var(--main-purple-color);
}

/* contact bar */

.contact__bar--container {
    background-color: var(--main-purple-color);
    padding: 96px 0;
}

.contact__bar {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact__bar--text--container {
    width: 50%;
}


.contact__bar--text {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;

}

.contact__btn--container {
    display: flex;
    justify-content: flex-end;
}

.contact__bar--btn {
    background-color: var(--main-purple-color);
    color: #fff;
    border: 0.5px solid white;
    border-radius: 500px;
    padding: 18px  32px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
    transition: all 200ms ease;
}

.contact__bar--btn:hover {
    background-color: #fff;
    color: var(--main-purple-color);
}

.highlighted-btn {
    background-color: #f56464;
    border-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.highlighted-btn:hover {
    background-color: #ee4141;
    color: #fff;
}

/* footer */

footer {
    margin-top: 80px;
    background-color: var(--main-purple-color);
}

.footer__padding {
    padding: 32px;
}

.link__catalog--container {
    display: flex;
    justify-content: space-around;
    padding: 0 0 56px 0;
    color: #fff;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.link__list--title {
    padding-bottom: 16px;
    color: #fff;
}

.links li {
    padding: 8px 0;
}

.link {
    color: #fff;
}

.link__list--title {
    font-size: 16px;
}

.footer__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 60px 0;
}

.footer__logo {
    display: flex;
    align-items: center;
    color: #fff;
}

.footer__logo h1{
    padding-left: 8px;
    font-size: 24px;
    color: #fff;
}

.footer__logo__wrapper {
    width: 50px;
}

.footer__logo--img {
    width: 100%;
}

.copyright  p{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.social__links {
    display: flex;
}

.social__link {
    background-color: white;
    margin: 0 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 20px;
    color: var(--main-purple-color);
}



/* SMALL PHONE, TABLETS, LARGE SMARTPHONES */
@media (max-width: 1025px){
    /* Genrel */
    .section__title {
        font-size: 34px;
    }
    
    .nav__links {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    /* Heading HERO */
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero__landing--info,
    .hero__img--wrapper {
        width: 60%;
    }

    .hero__landing--info {
        text-align: center;
        align-items: center;
    }

    .hero__call-to-action {
        margin: 0 auto;
    }

    .hero__subheading--title {
        margin-top: 48px;
    }

    .hero__subheading--img {
        padding-right: 0px;
    }

    h1 {
        font-size: 30px;
    }

    .hero__img--wrapper {
        margin-top: 48px;
    }

    /* Features */
    .feature__card {
        width: calc(100% / 2);
    }


    /* values */
    .values__points--container {
        flex-direction: column;
    }


    /* PRICING */
    .pricing__container {
        align-items: center;
    }

    .plans {
        flex-direction: column;
        padding: 0px;
    }

    .plan {
        /* margin-top: 64px; */
        width: 100%;
        margin: 64px 0 0 0;
    }

    /* contact bar */

    .contact__bar {
        flex-direction: column;
    }

    .contact__bar--text--container {
        text-align: center;
    }

    .contact__btn--container {
        margin-top: 24px;
    }
}


@media (max-width: 765px){

    .features__list{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .feature__card {
        width: auto;
        max-width: 384px;
    }

    /* quality work */

    .quality__container{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .quality__info, .quality__img--container {
        width: 100%;
        max-width: 448px;
    }

    .container__padding {
        margin: 0;
    }

    .quality__info {
        margin-top: 64px;
        text-align: center;
    }

    .quality__img--wrapper {
        margin: 0;
    }

    /* steps */

    .steps__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .steps__img--container,
    .steps__info {
        width: 100%;
        max-width: 448px;
    }

    .steps__card {
        display: flex;
        flex-direction: column;
    }

    .steps__card--num h1 {
        padding: 0;
        color: #cbd5e0;
    }

    .steps__card--title {
        margin-top: 12px;
    }

    /* values */

    .values__container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .values__info--container,
    .values__img--wrapper {
        width: 100%;
        max-width: 448px;
    }

    .values__info--container {
        padding: 0;
        margin-top: 64px;
    }

    .values__point {
        margin: 32px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 320px;
    }

    /* TESTIMONIALS */

    .testimonials__container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .testimonial__img--wrapper,
    .testimonials__info--container {
        width: 100%;
        max-width: 448px;
    }

    .testimonials__info--container {
        padding: 0;
    }

    /* CONTACT BAR */

    .contact__bar--btn {
        margin: 0;
    }

    .highlighted-btn {
        margin-right: 32px;
    }

    /* FOOTER */

    .link__catalog--container {
        display: flex;
        flex-wrap: wrap;
    }

    .link__list {
        width: calc(100% / 3);
        text-align: center;
        margin-top: 48px;
    }

}   

@media (max-width: 640px){

    .section__title {
        font-size: 30px;
        text-align: center;
    }

    .section__para {
        font-size: 14px;
    }


    .hero__call-to-action {
        flex-direction: column;
        position: relative;
        height: 100%;
    }

    .hero__CTA--email {
        position: static;
        padding: 20px 32px 20px 32px;
    }

    .hero__CTA--submit {
        width: 100%;
        /* padding: 32px 33px; */
    }

    .hero__landing--info, .hero__img--wrapper {
        width: 85%;
    }

    .plan {
        width: 100%;
        max-width: 400px;
        min-width: 300px;
    }

    .feature__card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .feature__card--info {
        margin: 0;
    }
    
    #feature .row__center {
        text-align: center;
    }

    .steps__info {
        margin-top: 64px;
    }

    .steps__img--container {
        width: 80%;
    }

    .steps__img--wrapper {
        width: 100%;
    }

    /* testimonials */

    .testimonial__review--user--bar {
        flex-direction: column;
    }

    
    .testimonial__img--title {
        display: flex;
        flex-direction: column;
    }
    
    .testimonial__name--title {
        margin: 24px 0;
    }

    /* contact bar */

    .contact__bar--text {
        width: 100%;
        font-size: 24px
    }

    .contact__bar--text--container {
        width: 100%;
    }

    .contact__btn--container {
        display: flex;
        flex-direction: column;
    }

    .highlighted-btn {
        margin: 0 0 16px 0;
    }

    /* FOOTER */

    .footer__bar {
        flex-direction: column;
    }

    .copyright {
        margin: 34px 0;
    }
}
